.about-me-image{
    border-radius: 50%;
}

.wrapper{
    display:grid;
    grid-template-columns: 1fr, 1fr;
}

.name, .info{
    font-family: 'Recursive', Roboto;
    font-size: 36px;
}

.about, .details{
    font-family: 'Recursive', Roboto;
    font-size: 20px;
}