.about-me-image{
    border-radius: 50%;
}

html,body{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100%;
    margin:0px;
    padding:0px;
}

.wrapper{
    background-color: darkorange;
    max-width: 70%;
    display:flex;
    flex-direction: row;
    height: 80%;
}