.about-me-image{
    border-radius: 50%;
}

.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 500px;
}

.name, .info{
    font-family: 'Recursive', Roboto;
    font-size: 36px;
}

.left-panel{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start:1;
    grid-row-end: 1;
}
.right-panel{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end: 2;
}

.about, .details{
    font-family: 'Recursive', Roboto;
    font-size: 20px;
}